@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(https://source.unsplash.com/1600x900/?money);
  background-color: #000000d0;
}

.wrapper {
  background: #000000d0;
  color: #fff;
  padding: 5rem;
  border: 3px solid #000;
  border-radius: 10px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.wrapper form {
  margin: 40px 0 20px 0;
}

form :where(input, select, button) {
  width: 95%;
  outline: none;
  border: none;
  border-radius: 5px;
}

select {
  padding: 0;
  height: 26px;
  margin: 10px;
}

form p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px;
}

form input {
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  padding: 0 15px;
  border: 1px solid #fff;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid rgb(90, 81, 213);
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.select-box select {
  width: auto;
}

.select-box select::-webkit-scrollbar {
  width: 10px;
}

.select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 8px;
  border-right: 2px solid #fff;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 5px;
}

form .exchange-rate {
  font-size: 20px;
  margin: 15px 0 10px;
}

form button {
  height: 35px;
  color: #000;
  background-color: rgb(205, 205, 205);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

form button:hover {
  background-color: rgb(175, 175, 175);
}
